<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <div th:fragment="addSed">
        	<h1 class="h4 mb-4 text-gray-800">Registrar sede</h1>  
            
            <div class="container">	
	          
	          <div class="row">	
	            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center sedd">	
	        		<div class="sedd-body">	
	        			<form th:action="@{/sed/addExec}" th:object="${sede}" method="post">

							<div class="form-group">	
	        					<label>Nombre: </label>
	        					<input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Digite el nombre de la sede" required>
	        				</div>
	        				
	        				<div class="form-group">	
	        					<label>Dirección: </label>
	        					<input type="text" name="direccion" th:field="*{direccion}" class="form-control" placeholder="Digite la dirección de la sede" required>
	        				</div>
	        				
	        				<div class="form-group">	
	        					<label>Teléfono: </label>
	        					<input type="text" name="telefono" th:field="*{telefono}" class="form-control" placeholder="Digite su telefono" required>
	        				</div>
	        				
	        				<div class="form-group">	
	        					<label>Gps dir: </label>
	        					<input type="text" name="gps_dir" th:field="*{gps_dir}" class="form-control" placeholder="" required>
	        				</div>
	        				
	        				<div class="box-footer">
	        					<button class="btn btn-success">Guardar</button>
	        				</div>
	        				
	        				
	        			</form>
	        		
	        		</div>
                </div>
              </div>
              
			</div>

		
        </div>
    </body>
</html>