<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <div th:fragment="conCar">
        	<h1 class="h4 mb-4 text-gray-800">Cargos</h1>  
        
            <script>
                validMessage();
		    </script>
            
            <button type="button" class="btn btn-success" onclick="getContent('car/add')"><i class="fa fa-plus-square"></i></button>
            
		    <div class="container" style="display:none;" >
		        <div class="alert alert-success alert-dismissable" id="alert">
		            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		            <div id="message"></div> 
		        </div>

		    </div>
	
		
			
            <div th:if="${ not#lists.isEmpty(cargos)}">	
	            
	            <table class="table" id="tab">
				  <thead class="thead-light">
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">CODIGO</th>
				      <th scope="col">DENOMINACION</th>
				      <th scope="col">ACCION</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="car : ${cargos}">
			            <td th:text="${car.id}" />
			            <td th:text="${car.codigo}" />
			            <td th:text="${car.denominacion}" />
			            <td>
			              
			               <button type="button" th:id="${'cons' + car.id}" class="btn btn-primary" data-toggle="modal" th:attr="data-target=${'#consultaModal'+car.id}" th:data-row="${car}"><i class="far fa-eye"></i></button>
			               <button type="button" th:id="${'mod' + car.id}" class="btn btn-success" data-toggle="modal" th:attr="data-target=${'#edicionModal'+car.id}" th:data-row="${car}"><i class="fas fa-edit"></i></button>
			               <button type="button" th:id="${'rem' + car.id}" class="btn btn-danger" data-toggle="modal" th:attr="data-target=${'#eliminarModal'+car.id}" th:data-row="${car}"><i class="far fa-trash-alt"></i></button>
			            </td>
			        </tr>
				  </tbody>
				</table>
            
			</div>
			
			
			<footer style="font-size: large" class="panel-footer">
			    Items encontrados [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
			    &nbsp; &nbsp; - &nbsp;
			    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
			        <a href="#" th:attr="onclick=|getContentPagination('car/list','${i}')|">[[${i}]]</a>
			        &nbsp; &nbsp;
			        </span>
			</footer>
			
			
			<!-- Modal Consulta -->
			<div th:each="car : ${cargos}" th:fragment="modal" class="modal fade" th:attr="id=${'consultaModal' + car.id}" tabindex="-1" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      
			      <div class="modal-header">
			        <h5 class="modal-title" id="consultaModalLabel" th:text="'Conculta Reg#(' + ${car.id} + ')'"></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">	
			          <div class="row">	
			            <div class="col-lg-12 col-md-10 col-sm-10">	
			        		<div class="card-body">	
			        			<form>
			        				
			        				
			        				<div class="form-group">	
			        					<label>Codigo: </label>
			        					<input type="text" name="codigo" th:value="${car.codigo}" class="form-control" disabled>
			        				</div>
			        							        				
			        				<div class="form-group">	
			        					<label>Denominación: </label>
			        					<input type="text" name="denominacion" th:value="${car.denominacion}" class="form-control" disabled>
			        				</div>

			        			</form>
			        		</div>
		                </div>
		            </div>
			      </div>
			      
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			      </div>
			      
			    </div>
			    
			  </div>
			</div>
		
		
			<!-- Modal edición -->
			<div th:each="car : ${cargos}" th:fragment="modal" class="modal fade" th:attr="id=${'edicionModal' + car.id}" tabindex="-1" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      
			      <div class="modal-header">
			        <h5 class="modal-title" id="editModalLabel" th:text="'Edición Reg#(' + ${car.id} + ')'"></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">	
			          <div class="row">	
			            <div class="col-lg-12 col-md-10 col-sm-10">	
			        		<div class="card-body">	
			        			<form th:action="@{/car/modExec}" th:object="${car}" method="post"> 
			        				<input type="hidden" name="id" th:value="${car.id}">
			        				
			        				<div class="form-group">	
			        					<label>Codigo: </label>
			        					<input type="text" name="codigo" th:value="${car.codigo}" class="form-control" >
			        				</div>
			        				
			        				<div class="form-group">	
			        					<label>Denominación: </label>
			        					<input type="text" name="denominacion" th:value="${car.denominacion}" class="form-control" >
			        				</div>
			        				
			        				<div class="modal-footer">
								        <button type="submit" class="btn btn-primary">Guardar</button>
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
								    </div>

			        			</form>
			        		</div>
		                </div>
		            </div>
			      </div>
			      
			      
			      
			    </div>
			    
			  </div>
			</div>
			
			
			<!-- Modal eliminacion -->
			<div th:each="car : ${cargos}" th:fragment="modal" class="modal fade" th:attr="id=${'eliminarModal' + car.id}" tabindex="-1" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      
			      <div class="modal-header">
			        <h5 class="modal-title" id="eliminarModalLabel" th:text="'Eliminación Reg#(' + ${car.id} + ')'"></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">	
			          <div class="row">	
			            <div class="col-lg-12 col-md-10 col-sm-10">	
			        		<div class="card-body">	
			        			<form th:action="@{/car/remExec}" th:object="${car}" method="post"> 
			        				<input type="hidden" name="id" th:value="${car.id}">
			        				<p>Desea eliminar el registro</p>
			        				<p th:text="${car.codigo + ' ' + car.denominacion}"></p>
			        				
			        				<div class="modal-footer">
								        <button type="submit" class="btn btn-primary">Confirmar</button>
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
								    </div>

			        			</form>
			        		</div>
		                </div>
		            </div>
			      </div>
			      
			      
			      
			    </div>
			    
			  </div>
			</div>
			
			
			
			
			
		
        </div>
    </body>
</html>